<header class="header header--opacue">
  <div class="container header__section">
    <div class="header__logo">
      <img
        class="header__logo-image"
        src="/images/logo.svg"
        alt="logo"
        width="130"
        height="22"
      />
    </div>
    <button class="header__burger-btn" id="burgerBtn" type="button">
      <svg class="icon burger-icon header__burger-icon" width="40" height="40">
        <use xlink:href="/images/sprite.svg#burger-menu"></use>
      </svg>
    </button>
    <!--  -->
    <div class="header__sidebar" id="sidebarMob">
      <div class="header__sidebar-body">
        <button type="button" class="header__sidebar-close" id="closeBtn">
          <svg class="icon header__sidebar-btn" width="24" height="24">
            <use xlink:href="/images/sprite.svg#cross-icon"></use>
          </svg>
        </button>
        <div class="header__sidebar-list">
          <!--#include virtual="/blocks/nav-header/nav-header.html" -->
        </div>
        <div class="header__sidebar-contacts">
          <!--#include virtual="/blocks/contacts-top/contacts-top.html" -->
        </div>
      </div>
    </div>

    <nav class="header__navigation">
      <ul class="header__nav-list">
        <!--#include virtual="/blocks/nav-header/nav-header.html" -->
      </ul>
      <div class="header__nav-contact">
        <!--#include virtual="/blocks/contacts-top/contacts-top.html" -->
      </div>
    </nav>
  </div>
</header>
