.header {
  position: fixed;
  z-index: 5;
  inset-inline: 0;
  top: 0;

  &__section {
    display: flex;
    column-gap: 60px;
    align-items: center;
    margin: 0px auto;
    padding-block: 20px;
    background-color: transparent;
  }

  &__logo {
    flex-shrink: 0;
    padding-block: 14px;
  }

  &__navigation {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include tablet-l {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &--opacue {
    background-color: var(--stb-white);
  }

  &__burger-btn {
    --stb-burger-icon-color: var(--stb-gray-800);

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    margin-left: auto;
    border: 1px solid #000;
    border-radius: 6px;
    background-color: var(--stb-white);
    cursor: pointer;
    transition: 0.3s ease-in-out;

    @include tablet-l {
      display: none;
    }

    // .burger-icon {
    //   fill: var(--stb-burger-icon-color);
    // }

    &:hover {
      --stb-burger-icon-color: var(--stb-white);
      background-color: var(--stb-gray-800);
    }
  }

  &__burger-icon {
    fill: var(--stb-burger-icon-color);
  }

  &__nav-list {
    overflow-x: auto;
    display: flex;
    gap: 40px;
    max-width: 550px;
    width: 100%;
  }

  &__nav-contact {
    display: flex;
    gap: 36px;

    @include desktop {
      gap: 36px;
    }
  }

  &__sidebar {
    position: fixed;
    top: 82px;
    left: -255px;
    bottom: 0;
    max-width: 250px;
    width: 100%;
    max-height: 100vh;
    height: 100%;
    padding: 20px;
    background-color: var(--stb-white);
    transition: transform 0.5s linear;

    @include tablet-l {
      display: none;
    }
  }

  &__sidebar-body {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    max-height: calc(100vh - 130px);
    height: 100%;
  }

  &__sidebar-close {
    position: absolute;
    right: 0;
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__sidebar-btn {
    width: 20px;
    height: 20px;
  }

  &__sidebar-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: calc(100vh - 300px);
  }

  &__sidebar-contacts {
    display: grid;
    gap: 20px;
  }
}
