@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes stat-border {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 90%;
  }
}
