@import "mixins";

html,
body {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-width: 360px;
  margin: 0 auto;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
  // border: 1px solid #e52f2f;
}

.icon {
  width: inherit;
  height: inherit;
}
