<section class="section section-values">
  <div class="container">
    <div class="section-title section-title--m text-center">
      <h2 class="section-title__header">Our core values</h2>
      <p class="section-title__text">
        Our mission is to set the highest standards for construction sphere.
      </p>
    </div>

    <div class="section-values__list">
      <div class="section-values__item">
        <div class="section-values__item-body">
          <img
            src="/images/icons-color/like-icon.svg"
            alt="Quality"
            class="section-values__image"
            width="48"
            height="48"
          />
          <div class="section-title section-title--card">
            <div class="section-title__header">Quality</div>
            <div class="section-title__text">
              Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam
              velit nostrud aliquip sunt.
            </div>
          </div>
        </div>
      </div>

      <div class="section-values__item">
        <div class="section-values__item-body">
          <img
            src="/images/icons-color/hand-icon.svg"
            alt="Safety"
            class="section-values__image"
            width="48"
            height="48"
          />
          <div class="section-title section-title--card">
            <div class="section-title__header">Safety</div>
            <div class="section-title__text">
              Anim reprehenderit sint voluptate exercitation adipisicing laborum
              adipisicing. Minim empor est ea.
            </div>
          </div>
        </div>
      </div>

      <div class="section-values__item">
        <div class="section-values__item-body">
          <img
            src="/images/icons-color/slippers-icon.svg"
            alt="Comfort"
            class="section-values__image"
            width="48"
            height="48"
          />
          <div class="section-title section-title--card">
            <div class="section-title__header">Comfort</div>
            <div class="section-title__text">
              Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
              voluptate ullamco proident ea ad.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
