.footer {
  padding-block: 40px;
  background-color: var(--stb-gray-900);

  @include desktop {
    padding-block: 80px;
  }

  &__body {
    color: var(--stb-white);
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 25px;

    @include tablet-l {
      flex-direction: row;
      margin-bottom: 50px;
    }
  }

  &__column {
    max-width: 495px;
    width: 100%;
  }

  &__subheader {
    display: flex;
    gap: 60px;
    margin-bottom: 24px;
  }

  &__media-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__media-icon {
    fill: var(--stb-white-60);
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--stb-white-60);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

    @include tablet-l {
      gap: 124px;
    }
  }

  &__items-header {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  &__item {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--stb-white-60);

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__item-span {
    color: var(--stb-white);
  }

  &__copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
    margin-top: 60px;
  }

  &__scrollup {
    display: flex;
    gap: 16px;
    align-items: end;
    margin-left: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
  }

  &__scrollup-icon {
    fill: var(--stb-white);
    transform: rotate(180deg);
  }
}

.copyright {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;

  &__image {
    fill: var(--stb-primary);
  }
}
