<footer class="footer">
  <div class="container footer__body">
    <div class="footer__group">
      <div class="footer__column">
        <div class="footer__subheader">
          <img
            src="/images/logo-light.svg"
            alt="logo"
            width="142"
            height="24"
          />

          <ul class="footer__media-list">
            <li class="footer__media-item">
              <a href="#" class="footer__media-link">
                <svg class="icon footer__media-icon" width="24" height="24">
                  <use xlink:href="/images/sprite.svg#whatsapp-icon"></use>
                </svg>
              </a>
            </li>
            <li class="footer__media-item">
              <a href="#" class="footer__media-link">
                <svg class="icon footer__media-icon" width="24" height="24">
                  <use xlink:href="/images/sprite.svg#messanger-icon"></use>
                </svg>
              </a>
            </li>
            <li class="footer__media-item">
              <a href="#" class="footer__media-link">
                <svg class="icon footer__media-icon" width="24" height="24">
                  <use xlink:href="/images/sprite.svg#facebook-icon"></use>
                </svg>
              </a>
            </li>
            <li class="footer__media-item">
              <a href="#" class="footer__media-link">
                <svg class="icon footer__media-icon" width="24" height="24">
                  <use xlink:href="/images/sprite.svg#twitter-icon"></use>
                </svg>
              </a>
            </li>
            <li class="footer__media-item">
              <a href="#" class="footer__media-link">
                <svg class="icon footer__media-icon" width="24" height="24">
                  <use xlink:href="/images/sprite.svg#youtube-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <p class="footer__description">
          Createx Construction Bureau has been successfully operating in the USA
          construction market since 2000. We are proud to offer you quality
          construction and exemplary service. Our mission is to set the highest
          standards for construction sphere.
        </p>
      </div>

      <form action="/" class="footer__column form">
        <legend class="form__title">Let's stay in touch</legend>
        <input type="email" class="form__input" />
        <button
          type="submit"
          class="form__button button button--primary button--m"
        >
          subscribe
        </button>
        <p class="form__description">
          *Subscribe to our newsletter to receive communications and early
          updates from Createx Construction Bureau.
        </p>
      </form>
    </div>
    <ul>
      <li>
        <h2>HEAD OFFICE</h2>
        <div>Address: 8502 Preston Rd. Inglewood, New York</div>
        <div>Call: (405) 555-0128</div>
        <div>Email: hello@createx.com</div>
      </li>
      <li>
        <h2>WHO WE ARE</h2>
        <div>About Us</div>
        <div>Available Positions</div>
        <div>Contacts</div>
      </li>
      <li>
        <h2>OUR EXPERIENCE</h2>
        <div>Services</div>
        <div>Work</div>
        <div>News</div>
      </li>
    </ul>
    <div class="copyright">
      <p>
        © All rights reserved. Made with
        <svg class="icon copyright__image" width="16" height="16">
          <use xlink:href="/images/sprite.svg#heart-icon"></use>
        </svg>
        by Createx Studio
      </p>
      <div>
        GO TO TOP
        <button>arrow up</button>
      </div>
    </div>
  </div>
</footer>
