<section class="section section-hero-secondary">
  <div class="container">
    <div class="section-hero-secondary__body">
      <div class="breadcrumbs section-hero-secondary__breadcrumbs-list">
        <a href="/index.html" class="breadcrumbs__item">Homepage</a>
        <a href="#" class="breadcrumbs__item">Services</a>
      </div>
      <div class="section-hero-secondary__content">
        <div class="section-title section-title--l">
          <div class="section-title__header text-upper">SERVICES</div>
          <div class="section-title__text section-hero__description">
            If you are looking for a full-service construction company, look to
            Createx Construction Bureau. We are doing our best to be a partner
            for all of your construction needs.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
