<section class="section section-hero-secondary section-hero-secondary--design">
  <div class="container">
    <div class="section-hero-secondary__body">
      <div class="breadcrumbs section-hero-secondary__breadcrumbs-list">
        <a href="/index.html" class="breadcrumbs__item">Homepage</a>
        <a href="/pages/services.html" class="breadcrumbs__item">Services</a>
        <a href="#" class="breadcrumbs__item">Interior Design</a>
      </div>
      <div class="section-hero-secondary__content">
        <div class="section-title section-title--l">
          <div class="section-title__header text-upper">
            INTERIOR <br />
            DESIGN
          </div>
          <div class="section-title__text section-hero__description">
            Dui augue nec mi mi. Ut ac lectus donec fames pellentesque. Laoreet
            aenean vulputate elementum blandit amet.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
