.section-hero-secondary {
  padding-block: 150px 60px;
  background-color: var(--stb-gray-200);

  background-repeat: no-repeat;
  background-size: 0;
  background-position: right;

  &--services {
    background-image: url("/images/bg-services-hero.png");
  }

  &--design {
    background-image: url("/images/bg-design-hero.png");
  }

  @include tablet-l {
    background-size: 480px 100%;
  }

  @include desktop {
    padding-block: 150px 180px;
    background-size: 975px 100%;
  }

  &__body {
    max-width: 600px;
    width: 100%;
  }

  &__breadcrumbs-list {
    margin-bottom: 40px;
  }
}
