.section {
  .section__promo {
    border: 4px solid #6153d0;
    padding: 120px 0 60px;
    text-align: center;
  }

  //   &__title {
  //     .title--m {
  //       font-size: 46px;
  //       font-weight: 700;
  //       line-height: 1.3;
  //     }
  //   }
}
