<section class="section section-we-offer">
  <div class="container">
    <div class="section-we-offer__body">
      <img
        src="/images/we-offer-image.jpg"
        alt=""
        class="section-we-offer__image"
        width="705"
        height="440"
      />
      <div class="section-we-offer__content">
        <div class="section-title section-title--m">
          <h2 class="section-title__header">We offer</h2>
        </div>
        <div class="section-we-offer__list">
          <details open class="section-we-offer__item">
            <summary class="section-we-offer__title">
              Interior design of apartments
            </summary>
            <p class="section-we-offer__text">
              Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet
              elementum faucibus dignissim purus. Fusce parturient diam magna
              ullamcorper morbi semper massa ac facilisis.
            </p>
          </details>
          <details class="section-we-offer__item">
            <summary class="section-we-offer__title">
              Interior design of private houses
            </summary>
            <p class="section-we-offer__text">
              Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet
              elementum faucibus dignissim purus. Fusce parturient diam magna
              ullamcorper morbi semper massa ac facilisis.
            </p>
          </details>
        </div>
      </div>
    </div>
  </div>
</section>
