<section class="section section-blog">
  <div class="container">
    <div class="section-title section-title--m text-center">
      <div class="section-title__header">Recent news</div>
    </div>

    <div class="section-blog__blog-container">
      <!--  -->
      <div class="section-blog__blog-card blog-card blog-card--big">
        <div class="blog-card__blog-image">
          <img
            src="/images/section-blog/blog-image-1.jpg"
            srcset="/images/section-blog/blog-image-1@2x.jpg 2x"
            alt=""
            width="705"
            height="360"
          />
        </div>
        <div class="blog-card__content">
          <div class="section-title section-title--card">
            <div class="section-title__header section-blog__title">
              How to Build Climate Change-Resilient Infrastructure
            </div>
          </div>
          <div class="blog-card__list">
            <div class="blog-card__item">Industry News</div>
            <div class="blog-card__item">June 24, 2020</div>
            <div class="blog-card__item">
              <svg class="icon blog-card__icon" width="14" height="14">
                <use xlink:href="/images/sprite.svg#chat-icon"></use>
              </svg>
              <span>4 comments</span>
            </div>
          </div>
          <div class="blog-card__text">
            Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
            faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer
            bibendum turpis convallis enim, nibh convallis...
          </div>
        </div>
      </div>
      <!--  -->
      <div class="section-blog__blog-card blog-card blog-card--small">
        <div class="blog-card__blog-image">
          <img
            src="/images/section-blog/blog-image-2.jpg"
            srcset="/images/section-blog/blog-image-2@2x.jpg 2x"
            alt=""
            width="495"
            height="156"
          />
        </div>
        <div class="blog-card__content">
          <div class="section-title section-title--card">
            <div class="section-title__header section-blog__title">
              How Construction Can Help Itself
            </div>
          </div>
          <div class="blog-card__list">
            <div class="blog-card__item">Innovation</div>
            <div class="blog-card__item">June 12, 2020</div>
            <div class="blog-card__item">
              <svg class="icon blog-card__icon" width="14" height="14">
                <use xlink:href="/images/sprite.svg#chat-icon"></use>
              </svg>
              <span>No comments</span>
            </div>
          </div>
        </div>
      </div>
      <div class="section-blog__blog-card blog-card blog-card--small">
        <div class="blog-card__blog-image">
          <img
            src="/images/section-blog/blog-image-3.jpg"
            srcset="/images/section-blog/blog-image-3@2x.jpg 2x"
            alt=""
            width="495"
            height="156"
          />
        </div>
        <div class="blog-card__content">
          <div class="section-title section-title--card">
            <div class="section-title__header section-blog__title">
              Types of Flooring Materials
            </div>
          </div>
          <div class="blog-card__list">
            <div class="blog-card__item">Company News</div>
            <div class="blog-card__item">December 1, 2019</div>
            <div class="blog-card__item">
              <svg class="icon blog-card__icon" width="14" height="14">
                <use xlink:href="/images/sprite.svg#chat-icon"></use>
              </svg>
              <span>No comments</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-link">
      <span class="section-link__text"> Explore all our news posts </span>
      <a href="#" class="button button--l button--primary">View all news</a>
    </div>
  </div>
</section>
