<section class="section section-projects">
  <div class="container section-projects__body">
    <div class="section-projects__title section-title section-title--m">
      <div class="section-title__header">
        Browse our selected projects and learn more about our work
      </div>
    </div>

    <div class="section-projects__btn-group">
      <button class="arrow-btn arrow-btn--left js_card-prev">
        <svg class="icon arrow-btn__icon" width="24" height="24">
          <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
        </svg>
      </button>
      <button class="arrow-btn arrow-btn--right js_card-next">
        <svg class="icon arrow-btn__icon" width="24" height="24">
          <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
        </svg>
      </button>
    </div>

    <div class="swiper js_card-swiper">
      <div class="section-projects__list swiper-wrapper">
        <div class="swiper-slide">
          <!--#include virtual="/blocks/project-card/project-card.html" -->
        </div>
        <div class="swiper-slide">
          <!--#include virtual="/blocks/project-card/project-card.html" -->
        </div>
        <div class="swiper-slide">
          <!--#include virtual="/blocks/project-card/project-card.html" -->
        </div>
        <div class="swiper-slide">
          <!--#include virtual="/blocks/project-card/project-card.html" -->
        </div>
        <div class="swiper-slide">
          <!--#include virtual="/blocks/project-card/project-card.html" -->
        </div>
        <div class="swiper-slide">
          <!--#include virtual="/blocks/project-card/project-card.html" -->
        </div>
      </div>
    </div>

    <div class="section-link">
      <span class="section-link__text"> Explore all our works </span>
      <a href="#" class="button button--l button--primary">View portfolio</a>
    </div>
  </div>
</section>
