.section-projects {
  padding-block: 60px;

  @include desktop {
    padding-block: 120px;
  }

  &__body {
    position: relative;
    text-align: center;

    @include desktop {
      text-align: start;
    }
  }

  &__title {
    max-width: 700px;
    width: 100%;
  }

  &__btn-group {
    position: relative;
    top: -10px;
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      position: absolute;
      right: 20px;
      justify-content: end;
    }

    @include desktop {
      top: 80px;
    }
  }

  &__list {
    display: flex;
    justify-content: start;
    justify-items: center;
    align-items: center;
    padding-bottom: 20px;
  }

  &__item {
    margin: 0 auto;
    flex-shrink: 0;
    justify-self: center;
  }
}
