<section class="section section-testimonials">
  <div class="container">
    <div class="section-title section-title--m text-center">
      <div class="section-title__header">Supported by 12+ partners</div>
    </div>
    <div class="section-testimonials__client-list">
      <div class="section-testimonials__client-item">
        <img src="/images/section-testimonials/client-logo-1.png" alt="" />
      </div>
      <div class="section-testimonials__client-item">
        <img src="/images/section-testimonials/client-logo-2.png" alt="" />
      </div>
      <div class="section-testimonials__client-item">
        <img src="/images/section-testimonials/client-logo-3.png" alt="" />
      </div>
      <div class="section-testimonials__client-item">
        <img src="/images/section-testimonials/client-logo-4.png" alt="" />
      </div>
      <div class="section-testimonials__client-item">
        <img src="/images/section-testimonials/client-logo-5.png" alt="" />
      </div>
      <div class="section-testimonials__client-item">
        <img src="/images/section-testimonials/client-logo-3.png" alt="" />
      </div>
    </div>

    <div class="section-testimonials__content">
      <div class="section-testimonials__content-body">
        <div class="section-title section-title--m">
          <div class="section-title__header">What our clients are saying</div>
        </div>

        <div class="section-testimonials__card">
          <img
            class="section-testimonials__profile-image"
            src="/images/section-testimonials/profile-image.jpg"
            alt=""
            width="72"
            height="72"
          />
          <div class="section-testimonials__card-text">
            Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum
            eiusmod enim. Consectetur magna cillum consequat minim laboris
            cillum laboris voluptate minim proident exercitation ullamco.
          </div>
          <div class="section-testimonials__card-footer">
            <div class="section-testimonials__profile">
              <div class="section-testimonials__card-name">Shawn Edwards</div>
              <div class="section-testimonials__card-title">
                Position, Company name
              </div>
            </div>
            <!-- buttons slider -->
            <div class="section-testimonial__btn-group">
              <button class="arrow-btn arrow-btn--left">
                <svg class="icon arrow-btn__icon" width="24" height="24">
                  <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
                </svg>
              </button>
              <button class="arrow-btn arrow-btn--right">
                <svg class="icon arrow-btn__icon" width="24" height="24">
                  <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="section-testimonials__content-image">
        <img
          class="section-testimonials__content-img"
          src="/images/section-testimonials/section-testimonials-image@1x.jpg"
          srcset="
            /images/section-testimonials/section-testimonials-image@2x.jpg 2x
          "
          alt="People"
          width="495"
          height="550"
        />
      </div>
    </div>
  </div>
</section>
