<section class="section section-hero">
  <!-- Slider -->
  <div class="section-hero__slider slider">
    <div class="slider__indicators container swiper-pagination">
      <!-- <button
        type="button"
        class="active slider__indicator-btn"
        aria-current="true"
        aria-label="Slide 1"
      ></button> -->
      <!-- <button
        type="button"
        class="slider__indicator-btn"
        aria-label="Slide 2"
      ></button> -->
      <!-- <button
        type="button"
        class="slider__indicator-btn"
        aria-label="Slide 3"
      ></button> -->
      <!-- <button
        type="button"
        class="slider__indicator-btn"
        aria-label="Slide 4"
      ></button> -->
    </div>
    <div class="container">
      <div class="swiper js_hero-swiper">
        <div class="swiper-wrapper">
          <!-- 1 -->
          <div class="swiper-slide">
            <div class="section-hero__body">
              <div class="section-title section-title--l section-title--light">
                <div class="section-title__header text-upper">
                  CREATE<span class="text-accent">X</span> Construction
                </div>
                <div class="section-title__text section-hero__description">
                  Cras ultrices leo vitae non viverra. Fringilla nisi quisque
                  consequat, dignissim vitae proin ipsum sed. Pellentesque nec
                  turpis purus eget pellentesque integer ipsum elementum felis.
                </div>
              </div>
              <div class="btn-group">
                <a
                  class="button button--light-outline button--m btn-group__button"
                  href="#"
                >
                  Learn more about us
                </a>
                <button
                  class="button button--primary button--m btn-group__button"
                >
                  SUBMIT REQUEST
                </button>
              </div>
            </div>
          </div>
          <!-- 2 -->
          <div class="swiper-slide">
            <div class="section-hero__body">
              <div class="section-title section-title--l section-title--light">
                <div class="section-title__header text-upper">
                  Project Development
                </div>
                <div class="section-title__text section-hero__description">
                  Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet
                  viverra in. Est nulla lectus purus tincidunt massa tortor.
                  Hendrerit vulputate elementum blandit massa vitae amet felis
                  eget.
                </div>
              </div>
              <div class="btn-group">
                <a
                  class="button button--light-outline button--m btn-group__button"
                  href="#"
                >
                  Learn more
                </a>
                <button
                  class="button button--primary button--m btn-group__button"
                >
                  SUBMIT REQUEST
                </button>
              </div>
            </div>
          </div>
          <!-- 3 -->
          <div class="swiper-slide">
            <div class="section-hero__body">
              <div class="section-title section-title--l section-title--light">
                <div class="section-title__header text-upper">
                  Interior Design
                </div>
                <div class="section-title__text section-hero__description">
                  Eleifend orci massa et facilisis orci feugiat ac. Congue in ut
                  lacus, turpis accumsan gravida. Aliquet mattis dignissim massa
                  sociis a, id bibendum. Egestas lorem eros, mi cras amet, vel
                  eget molestie. Turpis enim arcu, amet donec massa pellentesque
                  nulla duis. Arcu dictum metus sed purus senectus faucibus eget
                  elementum pretium.
                </div>
              </div>
              <div class="btn-group">
                <a
                  class="button button--light-outline button--m btn-group__button"
                  href="#"
                >
                  Learn more
                </a>
                <button
                  class="button button--primary button--m btn-group__button"
                >
                  SUBMIT REQUEST
                </button>
              </div>
            </div>
          </div>
          <!-- 4 -->
          <div class="swiper-slide">
            <div class="section-hero__body">
              <div class="section-title section-title--l section-title--light">
                <div class="section-title__header text-upper">
                  CREATE<span class="text-accent">X</span> Repairs
                </div>
                <div class="section-title__text section-hero__description">
                  Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum
                  commodo, tortor gravida pretium, orci. Nunc sit sollicitudin
                  id egestas mattis. Turpis viverra nec urna ultrices urna.
                </div>
              </div>
              <div class="btn-group">
                <a
                  class="button button--light-outline button--m btn-group__button"
                  href="#"
                >
                  Learn more
                </a>
                <button
                  class="button button--primary button--m btn-group__button"
                >
                  SUBMIT REQUEST
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
      </div>
    </div>
    <button
      class="carousel-control-prev slider__btn js_hero-slider-prev"
      type="button"
    >
      <span class="slider__btn-icon slider__btn-icon--lft" aria-hidden="true">
        <svg class="icon slider__icon-lt" width="20" height="20">
          <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
        </svg>
      </span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next slider__btn js_hero-slider-next"
      type="button"
    >
      <span class="slider__btn-icon slider__btn-icon--rght" aria-hidden="true">
        <svg class="icon slider__icon-rt" width="20" height="20">
          <use xlink:href="/images/sprite.svg#arrow-up-icon"></use>
        </svg>
      </span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
