<section class="section section-stat">
  <div class="container">
    <div class="section-title section-title--m text-center">
      <div class="section-title__header">Some facts and figures</div>
    </div>

    <div class="section-stat__list">
      <div class="section-stat__item">
        <div class="section-stat__item-number accent accent--yellow">98%</div>
        <div class="section-stat__item-text">Totally satisfied clients</div>
      </div>
      <div class="section-stat__item">
        <div class="section-stat__item-number accent accent--red">20</div>
        <div class="section-stat__item-text">Years of experience</div>
      </div>
      <div class="section-stat__item">
        <div class="section-stat__item-number accent accent--blue">9452</div>
        <div class="section-stat__item-text">Working hours spent</div>
      </div>
      <div class="section-stat__item">
        <div class="section-stat__item-number accent accent--green">100%</div>
        <div class="section-stat__item-text">Succeeded projects</div>
      </div>
    </div>
  </div>
</section>
