<section class="secton section-steps">
  <div class="container">
    <div class="section-title section-title--m">
      <h2 class="section-title__header">That’s how we do it</h2>
    </div>
    <div class="section-steps__list">
      <!-- 01 -->
      <div class="section-steps__item">
        <div class="section-title section-title--card">
          <div class="section-title__header">Work Estimate</div>
          <div class="section-title__text">
            Culpa nostrud commodo ea consequat aliquip reprehenderit.
          </div>
        </div>
      </div>
      <!-- 02 -->
      <div class="section-steps__item">
        <div class="section-title section-title--card">
          <div class="section-title__header">Contract</div>
          <div class="section-title__text">
            Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit
            imperdiet auctor et tempor.
          </div>
        </div>
      </div>
      <!-- 03 -->
      <div class="section-steps__item">
        <div class="section-title section-title--card">
          <div class="section-title__header">Mobilization</div>
          <div class="section-title__text">
            Odio massa scelerisque purus arcu sed velit eleifend cursus leo.
          </div>
        </div>
      </div>
      <!-- 04 -->
      <div class="section-steps__item">
        <div class="section-title section-title--card">
          <div class="section-title__header">Construction Work</div>
          <div class="section-title__text">
            Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore
            et ad et veniam ad deserunt.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
